# OS files
.DS_Store
Thumbs.db

# Secrets
.env
.env.*
!.env.example

# Dependencies
node_modules/
venv/
.venv/
env/

# Build output
dist/
build/
out/
*.exe
*.dll
*.so

#Python
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln